body {
  padding: 0;
  margin: 0;
  font-family: "Scope One", serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* header starts here  */

.header {
  width: 100%;
  height: 100%;
  background-image: url("https://img/banner.png");
  background-size: cover;
  color: #fff;
}

.navigation {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 20px;
}

.navigation p {
  float: left;
  font-size: 15px;
  color: #3498db;
  margin-top: 18px;
}

.navigation p span {
  color: #fff;
}

.navigation ul {
  float: right;
}

.navigation ul li {
  list-style-type: none;
}

.navigation ul li i {
  margin-right: 10px;
}

.poster {
  max-width: 1350px;
  margin: 0 auto;
  clear: both;
  text-align: center;
  padding: 175px 0;
}

.poster h1 {
  font-size: 45px;
  letter-spacing: 1px;
}

.poster p {
  font-size: 22px;
  margin-bottom: 50px;
  line-height: 35px;
}

.poster a {
  font-size: 15px;
  padding: 15px 25px;
  color: #fff;
  background-color: #3498db;
  font-family: "Scope One", serif;
  font-weight: 600;
  text-decoration: none;
  line-height: 0.5px;
  border-radius: 2px;
}

/* Header ends here  */

/* blogone section starts here  */

.blogone{
  width: 100%;
  padding: 50px 0;
}

.blogone_main{
  max-width: 1000px;
  margin: 0 auto;
}

.img_div{
  width: 30%;
  float: left;
  text-align: center;
  padding: 37px 0;
}

.img_div img{
  width: 80%;
  border-radius: 100%;
  padding: 3px;
  border: 2px solid gray;
  
}

.txt_section{
  width: 65%;
  float: left;
  padding: 35px 10px;
}

.txt_section h3{
  font-size: 25px;
  margin: 0;
  margin-bottom: 20px;
}

.txt_section p{
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 45px;
}

.txt_section a{
  font-size: 15px;
  padding: 10px 20px;
  color: #fff;
  background-color: #3498db;
  font-family: "Scope One", serif;
  font-weight: 600;
  text-decoration: none;
  line-height: 0.5px;
  border-radius: 2px;
}

/* blogone sectione ends here */

/* blogtwo sectione ends here */

.blogtwo{
  width: 100%;
  padding: 50px 0;
  background-color: #3498db;
  color: #fff;
}

.blogtwo_main{
  max-width: 1000px;
  margin: 0 auto;
}

.imgs_div{
  width: 30%;
  float: left;
  text-align: center;
  padding: 37px 0;
}

.imgs_div img{
  width: 80%;
  border-radius: 100%;
  padding: 3px;
  border: 2px solid rgb(216, 213, 213);
  
}

.text_section{
  width: 65%;
  float: left;
  padding: 35px 10px;
}

.text_section h3{
  font-size: 25px;
  margin: 0;
  margin-bottom: 20px;
}

.text_section p{
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 45px;
  font-weight: 100;
}

.text_section a{
  font-size: 15px;
  padding: 10px 20px;
  color: #3498db;
  background-color: #fff;
  font-family: "Scope One", serif;
  font-weight: 600;
  text-decoration: none;
  line-height: 0.5px;
  border-radius: 2px;
}

/* blogtwo ends here  */

/* team section starts here  */

.team{
  width: 100%;
  background-color: rgb(243, 243, 243);
}

.team_main{
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
}

.team_main h2{
  font-size: 30px;
  margin: 0;
  margin-bottom: 10px;
}

.team_main p{
  color: gray;
}

.team_member{
  width: 30%;
  float: left;
  padding: 30px 5px;
  margin-bottom: 20px ;
}

.team_member img{
  width: 80%;
  border-radius: 100%;
  margin-bottom: 30px;
}

.team_member p{
  margin-bottom: 40px;
}

.team_member a{
  font-size: 15px;
  padding: 10px 20px;
  color: #fff;
  background-color: #3498db;
  font-family: "Scope One", serif;
  font-weight: 600;
  text-decoration: none;
  line-height: 0.5px;
  border-radius: 2px;
}

.addmargin{
  margin-right: 1%;
}

/* team section ends here  */


/* footer starts here  */

.footer{
  width: 100%;

}

.footer_main{
  max-width: 1000px;;
  margin: 0 auto;
  text-align: center;
  color: grey;
  padding: 30px 0;
}

.footer_main i{
  font-size: 22px;
  padding: 5px;
}

.footer_main p{
  font-size: 13px;
}

/* footer ends here */


/* Media Query Starts here  */

@media only screen and (max-width: 725px) {
  .poster {
    padding: 190px 20px;
  }

  .poster h1 {
    font-size: 38px;
  }

  .poster p {
    font-size: 18px;
    line-height: 20px;
  }

  .navigation {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 600px){
  .img_div{
    width: 100%;
  }

  .img_div img{
    width: 60%;
    
  }

  .txt_section{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 20px 0;
  }

  .txt_section h3{
    font-size: 22 px;
  }

  .blogone_main{
    padding: 0 20px;
  }

  .txt_section a{
    padding: 6px 12px;
    font-size: 15px;
  }

  .imgs_div{
    width: 100%;
  }

  .imgs_div img{
    width: 60%;
    
  }

  .text_section{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 20px 0;
  }

  .text_section h3{
    font-size: 22 px;
  }

  .blogtwo_main{
    padding: 0 20px;
  }

  .text_section a{
    padding: 6px 12px;
    font-size: 15px;
  }

  .team_main{
    padding-left:10px;
    padding-right:10px;
  }

  .team_main h2{
    font-size: 25px;
  }

  .team_member{
    width: 100%;
    margin: 0;
  }

  .team_member img{
    width: 70%;
    margin-bottom: 20px;
  }

  .team_member p{
    margin-bottom: 40px;
  }

  .addmargin{
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
}